.container {
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    width: 100%
}

.header {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.description {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-student-number {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.studentNumber{
    margin-right: 2vw;
}

.input-phone-number {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.input-language {
    display: flex;
    justify-content: space-around;
}

.description-language{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    font-size: 10px;
    color: #c0c0c0;
}

.input-library-framework {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.next-button-to-second-form {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:512px) {
    .description {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 20px;
    }
    
    .input-library-framework {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    
    .next-button-to-second-form {
        display: flex;
        justify-content: center;
    }

  }
  