.title {
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 16px;
}

.context {
    text-align: center;
    font-size: 0.8rem;
    color: #c0c0c0;
    margin-bottom: 32px;
}

.center-button {
    position: absolute;
    margin-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-square {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
}

.rainbow {
    width: 50%;
    height: 2px;
    margin: 40px auto;
    background-image: linear-gradient(to left, #D5738B, #F1B1B1, #9446E1, #57EAF1);

}

@media screen and (max-width:512px) {
    .title {
        font-size: 24px;
    }
    
    .context {
        font-size: 12px;
        margin-bottom: 30px;
    }
    
    .center-button {
        margin-top: 80px;
    }
    
    .centered-square {
        width: 90vw;
        height: 90vw;
    }

    .rainbow {
        width: 50%;
        height: 2px;
        background-image: linear-gradient(to left, #D5738B, #F1B1B1, #9446E1, #57EAF1);
        margin: 0 auto;
  }
}